header, .project:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #a6bc1b;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #163a1c;
  text-decoration: underline;
}

.dollar-amount {
  color: #334933;
  font-weight: bold;
  margin-left: -5px;
}
